cloudpickle==1.6.0
deepmind_lab==0.0.1
dm_control==1.0.23
dm_env==1.6
dm_env_wrappers==0.0.13
gym==0.26.2
gymnasium==0.29.1
imageio==2.34.1
jax==0.4.29
labmaze==1.0.6
matplotlib
minigrid==2.3.1
mlflow==3.1.1
moviepy==1.0.3
numpy==1.23.5
opencv_python==4.10.0.84
pandas==2.3.0
Pillow==11.2.1
PyYAML==6.0.1
pyzmq==27.0.0
rich==13.7.1
ruamel.base==1.0.0
# Logging
ruamel.yaml==0.18.6
stable_baselines3==2.6.0
# TensorBoardX avoids requiring full TensorFlow and is compatible with current code changes.
tensorboardX==2.6
# NOTE: tensorflow_cpu removed to prevent ImportError stemming from TensorBoard's TF dependency.
torch==2.4.0
tqdm==4.66.4
tyro==0.9.25
wandb==0.17.1
tensorboardX